@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #041f29;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #041f29;
    position: fixed;
    z-index: 100;
    box-shadow: 0 4px 4px 0 rgb(18 207 252 / 7%);
}

a {
    text-decoration: none;
}

.nav-item-list {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item-list li {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-family: 'Montserrat Alternates', sans-serif;
}


/*nav-item-list children 1*/

.nav-item-list li:nth-child(1) {
    width: 10vw;
}

.nav-item-list li:nth-child(1) a {
    height: 100%;
    display: flex;
    align-items: center;
}

.back-icon {
    height: 30px;
    width: 30px;
}

.nav-item-list li:nth-child(3) {
    width: 10vw;
}

.section {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.paragraph {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.paragraph-container {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 30px;
    margin-left: 16%;
    margin-right: 16%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-title {
    margin-bottom: 0;
    margin-top: -12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #12CFFC;
}

.paragraph-container h2 {
    text-align: center;
}


/* Start -- Header - Video - Title */

#header {
    background-color: #041f29;
    height: 100vh;
}

.header-textContainer {
    position: absolute;
    top: 0;
    left: 0;
    background: #041f29;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: 900;
    mix-blend-mode: multiply;
    transition: 1.5s ease;
}

.header-textBackground {
    padding: 0px 10px 0px 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-textContainer:hover {
    transition: 1.5s ease;
    mix-blend-mode: unset;
    background-color: transparent;
}

.header-textContainer:hover>.header-textBackground {
    transition: 1.5s ease;
    background-color: #041f29;
    mix-blend-mode: multiply;
}

.header-textContainer:hover>.header-text {
    font-style: italic;
}

.video-background {
    padding-top: 10vh;
    width: 100%;
}